cxf-jaxws-jetty-logging-log4j/src/main/resources/wsdl/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="http://codenotfound.com/services/helloworld"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://codenotfound.com/services/helloworld"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="HelloWorld">

  <wsdl:types>
    <schema targetNamespace="http://codenotfound.com/services/helloworld"
      xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://codenotfound.com/services/helloworld"
      elementFormDefault="qualified" attributeFormDefault="unqualified"
      version="1.0">

      <element name="person">
        <complexType>
          <sequence>
            <element name="firstName" type="xsd:string" />
            <element name="lastName" type="xsd:string" />
          </sequence>
        </complexType>
      </element>

      <element name="greeting">
        <complexType>
          <sequence>
            <element name="text" type="xsd:string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>

  <wsdl:message name="sayHelloRequest">
    <wsdl:part name="person" element="tns:person"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="greeting" element="tns:greeting"></wsdl:part>
  </wsdl:message>

  <wsdl:portType name="HelloWorld_PortType">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHelloRequest"></wsdl:input>
      <wsdl:output message="tns:sayHelloResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloWorld_Binding" type="tns:HelloWorld_PortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloWorld_Service">
    <wsdl:port name="HelloWorld_Port" binding="tns:HelloWorld_Binding">
      <soap:address location="http://localhost:9090/cnf/services/helloworld" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
